//Colors
$primary: #1E421E; 
$secondary: #FFD373;
$danger: #A11A2C;
$white: #ffffff;

//navbar
$navbar-light-active-color: $secondary;
$navbar-light-hover-color: $secondary;
$navbar-light-brand-hover-color: $secondary;
$navbar-light-brand-color: $white;